[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "themes/powerline-fonts"]
	path = themes/powerline-fonts
	url = https://github.com/powerline/fonts
[submodule "tmux/tmuxifier"]
	path = tmux/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
