[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "themes/powerline-fonts"]
	path = themes/powerline-fonts
	url = https://github.com/powerline/fonts
[submodule "tmux/tmuxifier"]
	path = tmux/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
[submodule "lldb-tools"]
	path = lldb-tools
	url = https://github.com/nicolaslangley/lldb-tools
[submodule "themes/agnoster-bash"]
	path = themes/agnoster-bash
	url = https://github.com/speedenator/agnoster-bash
[submodule "windows/gitbash_solarized"]
	path = windows/gitbash_solarized
	url = https://github.com/speedpacer/gitbash_solarized
